[Desktop Entry]
Name=Arc Center

Exec=python /usr/bin/arc-center

Icon=/usr/share/icons/github.zcharka.arccenter.svg

Terminal=false
Type=Application
Categories=System;Arc;Adwaita;Updates;Tools;Utility;
StartupNotify=false
