[Desktop Entry]
Name=Arctis Installer

Exec=python /usr/share/linexin-installer/installer

Icon=/usr/share/linexin-installer/images/github.petexy.linexininstaller.svg

Terminal=false
Type=Application
Categories=GTK; Installer;System;Linexin;Adwaita;
StartupNotify=false
